@import 'reset';
$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";

@import 'font-awesome';
@import 'bourbon';
@import 'neat';

$green: #8FAA36;
$gray: #46484C;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.accordion {
	padding: 2em;
}
.header {
	font-family: sans-serif;
	padding: .1em;
	padding-left: .8em;
	background-color: $gray;
	color: white;
	border: 1px solid black;
	line-height: 3em;
	width:10em;
}
.header:hover {
	padding: .1em;
	padding-left: .8em;
	background-color: $green;
	color: $gray;
	border: 1px solid black;
}
.selected {
	background-color: $green;
	color: $gray;
}
.fa {
	padding-right: .5em;
}
.links {
	display: none;
}
.links li {
	font-family: sans-serif;
	width: 10em;
	padding: .5em;
	padding-left: .8em;
	background-color: $gray;
	color: white;
	border: 1px solid black;
}
.links li:hover {
	padding: .5em;
	background-color: $green;
	color: $gray;
	border: 1px solid black;
}
